<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <style>
    
  </style>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <h1>JSON</h1>
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder</p>
  </div>
</div>
<div class="container">
  <form action="/p04/removed" method="post">
    <div>
      <label for="_id">ID: </label>
      <input type="text" name="_id" id="_id">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
<!-- Insert product -->

</body>
</html>