<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <style>
    
  </style>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <h1>JSON</h1>
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder</p>
  </div>
</div>
<div class="container">
    <p>
        removeProduct
    </p>
</div>
<!-- Insert product -->

</body>
</html>