<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <style>
    .block-info{
      border-style: ridge;
    }
    /* body {
        background-color: <%= color %>;
    } */
  </style>
</head>
<body style=<%= color %>>
<!-- <body style="background-color:" + <%= %>"> -->
    
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <h1>JSON</h1>
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder</p>
  </div>
</div>
<p style="text-align:center">
  Welcome user <br>
  Feel free to change the background color <br>
</p>
<div class="container"> <!-- this needs fixed -->
    <form action="/p05/change-style" method="POST">
        <label for="background">Choose a car:</label>
        <select name="background" id="background">
            <option value="white">White</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
        </select>
        <button type="submit">Select</button>
    </form>
    <form action="/p04/removeProduct">
        <button type="submit">Remove Product</button>
    </form>
</div>
<!-- Insert product here -->
<br><br><br>
<div class="container">

</div>
<br>

</body>
</html>